body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

#home-page-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin: 0px 25px 0px 25px;
}

#view-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

.large-view-box h3 {
    margin-bottom: 0px;
}

.large-view-box {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    width: 60%;
    height: 100%;
    padding: 20px;
}

.small-view-box {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    width: 25%;
    height: 100%;
    padding: 20px;
}

.product-display {
    padding-bottom: 15px;
    border-top: 1px solid black;
}