<div>{{#each students}}
    <div>
        <span>Student ID: {{this._id}}</span> - 
        <strong>{{this.name}}</strong> - 
        <span>{{this.age}}</span>

        <a rel="stylesheet" href="/students/{{this._id}}">View Student</a>
    </div>
{{/each}}

<a href="/students/new">Add A New Student</a>
</div>