<div>
    <div>Name: {{student.name}}</div>
    <div>Age: {{student.age}}</div>

    <a href="/students/{{student._id}}/edit">Edit</a>
    <a href="/students/{{student._id}}/delete">Delete</a>
    <a href="/students">Back to All Students</a>




</div>