<h1>New User</h1>

<form action="/users" method="POST">
    <input type="email" placeholder="email" name="email" required>
    <input type="text" name="first_name" placeholder="first name">
    <input type="submit" value="Create">
</form>