<h1>The Flyest Pirates of Da 7 Cs</h1>

<ul>
  {{#each pirates}}
    <li>
      <a href="/pirates/{{@index}}">
        <h2>{{name}}</h2>
      </a>
      <form method="POST" action="/pirates/{{@index}}?_method=DELETE">
      <button>DELETE</button>
      </form>
    </li>
  {{/each}}
</ul>

<form action="/pirates/new">
    <input type="submit" value="Create a New Pirate" />
</form>
