<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express App</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
    </head>
    <body>
        {{ header }}
     
        {{{ body }}}
     
        {{ footer }}
    </body>
</html>