<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express App</title>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    </head>
    {{> header }}
    <body>
        
     
        {{{ body }}}
     
        {{ footer }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
    </body>
</html>