<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donuts}}

			<div class="donut-container">

				{{this.name}}

				<div class="donutImg">
					<img class="main-img" src="{{this.img}}">
				</div>

				<h3>   <a rel="stylesheet" href="/donuts/{{this._id}}">   </h3>

				<p>$ {{this.price}} each </p>

			</div>

		{{/each}}

<a href="/donuts/new">Add a New Donut</a>
</main>
