<main>
	<h2>Handmade, Fresh, Daily!</h2>


	<div class="donut-container">
	{{#each donuts}}

		<<<< DONUT IMAGE HERE>>>>

			<h3>
				<span>Donut ID: {{this._id}}</span>
				<a rel="stylesheet" href="/donuts/{{this._id}}">View Donut</a>
			</h3>

			<p>${{this.price}} each </p>

	{{/each }}
	</div>



</main>