<h1>create a new pirate</h1>

<form method="POST" action="/pirates">
<div>
    <label for="name">name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <label for="birthplace">birthplace:</label>
    <input type="text" name="birthplace">
  </div>
  <div>
    <label for="death_year">death year:</label>
    <input type="number" name="death_year">
  </div>
  <div>
    <label for="base">base:</label>
    <input type="text" name="base">
  </div>
  <div>
    <label for="nickname">nickname:</label>
    <input type="text" name="nickname">
  </div>
  <button>Submit!</button>
</form>>