<h1>Create a new Pirate!</h1>
<form method="POST" action="/pirates">
  <div>
    <label for="name">name:</label>
    <input name="name">
  </div>
  <div>
    <label for="birthplace">birthplace: </label>
    <input name="birthplace">
  </div>
  <div>
    <label for="death_year">death_year:</label>
    <input name="death_year">
  </div>
  <div>
      <label for="base">base:</label>
      <input name="base">
  </div>
  <div>
      <label for="nickname">nickname:</label>
      <input name="nickname">
      <button>submit</button>
  </div>
</form>