<h1>create a new todo</h1>

<form method="POST" action="/todos">
<label for="description">description:</label>
<input type="text" name="description">

<label for="urgent">urgent:</label>
<input type="text" name="urgent">

<span>yes</span><input type="text">
<span>no</span><input type="text">
<button>Submit</button>
</form>