body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/36/10/06/3610062ed612bf558fc08ed252fe6241.jpg");
    background-repeat: repeat
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 36px;
}